version: '3'

services:

  keycloak:
    image: jboss/keycloak:latest         # Pinned to 3.4.3 because this is currently the latest version which has commercial support from Red Hat: https://www.keycloak.org/support.html
    command: [
      "-b", "0.0.0.0",
      "-Dkeycloak.migration.action=import",   # Replace with 'export' in order to export everything
      "-Dkeycloak.migration.provider=dir",
      "-Dkeycloak.migration.dir=/opt/jboss/keycloak/standalone/configuration/prod-realm-config/",
      "-Dkeycloak.migration.strategy=OVERWRITE_EXISTING",
      "-Dkeycloak.profile.feature.upload_scripts=enabled"
    ]
    ports: 
      - 8081:8080
    environment:
      - POSTGRES_DATABASE=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=password
      - KEYCLOAK_HOSTNAME=antenatal.identity.host
      # Legacy linking functionality is used
      - POSTGRES_PORT_5432_TCP_ADDR=postgres
      - POSTGRES_PORT_5432_TCP_PORT=5432
      - PROXY_ADDRESS_FORWARDING=true
      - KEYCLOAK_LOGLEVEL=DEBUG
      - DB_VENDOR=POSTGRES
      - DB_ADDR=postgres
      - DB_DATABASE=keycloak
      - DB_USER=keycloak
      - DB_PASSWORD=password
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=adminsecret
#      - JAVA_TOOL_OPTIONS=-Dkeycloak.profile.feature.admin_fine_grained_authz=enabled -Dkeycloak.profile.feature.token_exchange=enabled  # Required to enable Token exchange feature in newer versions of Keycloak
    volumes:
      - ./prod-realm-config:/opt/jboss/keycloak/standalone/configuration/prod-realm-config
    networks:
      default:
        aliases:
          - keycloak

  postgres:
    image: postgres:13.4
    volumes:
      - ./pg_database:/var/lib/postgresql/data
    ports:
      - 5433:5432
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=password
    networks:
      default:
        aliases:
          - postgres